.cartImg {
  width: 250px !important;
  height: 250px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cart {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.c-red {
  color: #e26c90;
}
.sub {
  padding: 7px !important;
  background: #fce9e8;
  color: #e26c90;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.subtwo {
  padding: 7px !important;
  background: #ddf5e0;
  color: #03b97c;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.cartname {
  font-weight: 700;
}
.cartname:hover {
  color: #03b97c;
}
.details {
  color: #4e6579;
  font-size: 15px;
}
.control:hover i {
  transform: rotate(0) !important;
  -webkit-transform: rotate(0) !important;
  -moz-transform: rotate(0) !important;
  -ms-transform: rotate(0) !important;
  -o-transform: rotate(0) !important;
}
.shadowCart:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2) !important;
}
