.c-green {
  color: #03b97c !important;
}
.search {
  position: relative;
  /* margin: 0  10px; */
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 50px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.search label .fas {
  position: absolute;
  left: 10px;
  top: 16px;
  color: #dedcde;
}
.Home {
  position: relative;
}
.homeBottom {
  /* position: absolute; */
  margin-top: -60px;
}
.rate {
  font-size: 30px;
}
.reatings i {
  color: #ff9800;
  font-size: 16px;
  margin: 3px;
}
.round {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.homeBt i {
  padding: 15px;
  color: #ff5722;
  background: #ffede7;
  margin-right: 10px;
  border: 1px dashed #ff5722;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.homebt2 i {
  color: #906ad4;
  border: 1px dashed #906ad4;
  background: #f2edfa;
}
.homebt3 i {
  color: #09b9b1;
  border: 1px dashed #09b9b1;
  background: #e1f6f6;
}
.homeBt h5 {
  font-size: 16px;
}
.homebt4 i {
  color: #7cbf2f;
  border: 1px dashed #7cbf2f;
  background: #eff7e6;
}
.btn-d {
  border-radius: 10px;
  color: #03b97c !important;
  background: #e0f6ef !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.text-gray {
  color: #6c757d !important;
}
.c-yellow {
  color: #ff9800;
}
.fs {
  font-size: 25px !important;
  font-weight: 600;
  background: #e0f6ef !important;
}
.btn i {
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
.btn:hover i {
  /* margin-right: 8px; */
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.smCart {
  transition: all ease 0.6s;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
}
.smCart:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  background: #03b97c;
}
.smCart:hover > div span i {
  background: #fff !important;
}
.smCart:hover h4 {
  color: #fff !important;
}
.smCart:hover p {
  color: #1d2636;
}
